.mail {
    background-color: #00224f;
    max-width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    padding: 50px 0;
}

.mail-title {
    font-weight: 300;
}

.mail-desc {
    margin: 10px;
    display: block;
    font-weight: 300;
}

.mail-input-container>input {
    height: 40px;
    width: 300px;
    padding: 10px;
    outline: none;
}
.mail-button {
    height: 40px;
    border: none;
    background-color: #1c85d6;
    color: #fff;
    padding: 0 20px;
    margin-left: 5px;
    cursor: pointer;
}